.Menu-header {
    background-color: rgb(10, 121, 218);
}

.navFijo {
    width: 100%;
    position: fixed;
    z-index: 999999;
}

.logo-test {
    width: 13%;
}

.itemMenu {
    position: absolute;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 70%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
