.background-section2 {
    background-color: #212b33;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.titleSizeSection2 {
    font-size: 4.5rem;
    
}

.p-rel {
    position: relative;
}

.containerSection {
    padding-top: 45px;
    padding-bottom: 45px;
}


@media only screen and (min-width: 600px) {
    .sectionMobile {
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .sectionDesktop {
      display: none;
    }

    .containerVideo {
        top: 48px;
    }

    .containerInfo {
        top: 48px;
    }
}


